 /* common shared styles */
 *{
    margin: 0;
    padding: 0;
 }
 
*{
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    color: #FFF;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
background: #FF900E;
border: none;
padding: 20px 25px; 
margin-bottom: 50px;
}
/* header nav styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 45px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color:  #131313;
text-align: center;
font-size: 45px;
font-weight: 700;

}
nav ul{
    display: flex;
    gap: 4.50rem;
}
nav  li{
  list-style: none;
  color:  #424242;
font-size: 1.08rem;
font-weight: 500px;
}
nav li a{
    text-decoration: none;
}

/* header div styles */
.header-container-info{
   max-width: 950px;
   text-align: center;
    margin: auto;
}
.header-container-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-top: 40px;
}

.header-container-description{
    color:#727272;
font-size: 16px;
font-weight: 400;
margin: 25px;
line-height: 1.50rem;
}

.header-container img{
    width: 100%;
}
/* section 1 styles */
main{
    max-width: 1450px;
    margin: 3rem auto;
}
.section-1-container{
    display: flex;
    align-items: center;
}
.features-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.features-info-container{
    margin-left: 3rem;
}

.span-1{
    font-size: 45px;
    color: #727272;
    font-weight: 400px;
}
.span-2{
    color: #131313;
font-size: 45px;
font-weight: 700px;
}
.span-3{
    color: #FF900E;
font-size: 45px;
font-weight: 700px;
}
.features-info-description{
    color: #727272;
font-size: 16px;
font-weight: 400;
line-height: 1.50rem;
padding: 28px 0px;
}

/* section 2 styles */
.section-2-container{
    display: flex;
    margin: 80px 0px 20px;
    gap: 90px;
}
.s-2-info-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
}
.s-2-information{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 24px;
}
.s-2-description{
    padding: 27px;
    border-radius: 8px;
    box-shadow:10px 10px 15px #b1aeae;
    margin-top: 25px;
    
}
.s-2-description h3{
    color:  #131313;
font-size: 20px;
font-weight: 600;
}
.s-2-description .s-2-p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0px;
    line-height: 24px;
}

.s-2-btn{
    background-color: #FF900E;
    color: #FFF;
    padding: 45px 43px;
    width: 110px;
    position: relative;
    margin-top: -65px;
    margin-left: -65px;
    border-radius: 7px;
    text-align: center;
    
}
 .btn-10{
    font-size: 30px;
    font-weight: 700;
    margin-right: 40px;
}
.btn-experience{
font-size: 18px;
padding-top: 10px;
}
/* section 3 styles */
.section-3-container{
    margin-top: 90px;
}
.section-3-container > h2{
    color:  #131313;
font-size: 45px;
font-weight: 700;
}
.section-3-container > a{
    color: #727272;
font-size: 16px;
font-weight: 400;
}
.s-3-description{
    margin-top: 20px;
    margin-bottom: 80px;
    max-width: 500px;
    line-height: 1.50rem;
    color:#727272;
}

.section-3-cards{
    display: flex;
    justify-content: space-around;
    
}
.section-3-cards .cards{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px 30px;
    height: 180px;
    width: 150px;

}
.section-3-cards .cards-title{
    color: #727272;
    font-size: 16px;
    font-weight: 600;
}
.section-3-cards .cards-points{
    color: var(--dark-02, #424242);
   font-size: 45px;
   font-weight: 600;
   margin-top: 25px;
   margin-bottom: 18px;
}
/* section 4 styles */
.section-4-info{
    text-align: center;
    margin-top: 80px;
}
.section-4-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.s-4-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.s-4-description{
    color:#727272;
font-size: 16px;
font-weight: 400;
margin:auto;
line-height: 1.50rem;
max-width: 500px;
}

/* footer styles */
.footer-container{
    background-color: #FFF4E7;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    padding: 50px 300px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.footer-container p{
    color:  #424242;
text-align: center;
font-size: 16px;
font-weight: 400;
}

@media screen and (max-width:576px) {
    nav , .section-1-container{
        flex-direction: column;
    }
    nav{
        gap: 2rem;
    }
    header{
        padding: 30px;
    }
    nav ul{
        gap: 2.5rem;
    }
    .features-img-container{
        grid-template-columns: 1fr;
    }
    .features-info-container{
        margin:  0rem 2.75rem;
    }
    .section-3-cards{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .section-3-container{
        margin: 0px 40px;
    }
    .section-4-img{
        flex-direction: column;
        gap: 30px;
    }
    .footer-container{
        margin: 20px;
        padding: 20px 0px;
    }


}

@media screen  and (min-width:576px) and (max-width:992px) {
    nav , .section-1-container{
        flex-direction: column;
        gap: 30px;
    }
    header{
        padding: 50px;
    }
    .features-info-container{
        margin: 0rem 6.5rem;
    }    
   .s-3-title , .s-3-description{
    margin: 0px 100px;
   }
   .s-3-description{
    margin-bottom: 60px;
   }
   .section-3-cards{
    margin: 0px 10px;
   }
   .footer-container{
    padding: 20px 0px;
    margin:40px auto;
   }

}